@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dom-main: #f2f5fa;
  --dom-dop: #ffffff;
  --content-main: #5e6a7a;
  --content-dop: #9ba5b2;
  --content-light-main: #e1e6ed;
  --content-light-secondary: #ced3db;
  --accent-main: #3773cc;
  --accent-red: #d94c4c;
  --accent-green: #79d47f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: var(--dom-main);
  color: var(--content-main);
}

span {
  color: var(--accent-main);
}

li::marker {
  color: #3773cc;
}

input {
  width: 256px;
  height: 25px;
  border-radius: 8px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--content-light-main);
  background-color: var(--dom-dop);
  color: var(--content-main);
}

input:hover {
  border: 1px solid var(--content-light-secondary);
  background-color: var(--dom-dop);
}

input:focus {
  color: var(--accent-main);
  border: 1px solid var(--accent-main);
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--content-light-main);
}

a {
  color: var(--accent-main);
}

.wrapper {
  width: 100vw;
  padding: 5px;
}

button {
  background: var(--accent-main);
  color: var(--content-light-main);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}

.navigation {
  display: flex;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.view {
  background: var(--accent-red);
  color: var(--content-light-main);
  padding: 10px;
  margin: 10px auto;
  width: 500px;
  height: 300px;
  border: 20px solid var(--accent-green);
  font-size: 20px;
  overflow-y: scroll;
}

.scroll-lock {
  overflow: hidden;
}

.spacer {
  margin-bottom: 600px;
}

.task {
  background: var(--dom-dop);
  width: 250px;
  padding: 15px;
  border: 1px solid var(--accent-main);
  border-radius: 8px;
  margin: 20px;
  opacity: 0;

  transition: all 0.6s ease-in;
}

.task.isVisible {
  opacity: 1;
}
